
{% extends "user/login_base.html" %}
{% load static %}

{% block title %}
<title>用户登录-CT图像识别与预测系统</title>
{% endblock  %}


{% block content %}
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item-title">
        <div style="margin-left: -35px;">
            <img class="logo" src="{% static "system/admin/images/logo.jpg" %}">
           <div class="title" style="color: red;">CT图像识别与预测系统</div>

        </div>
        <div class="desc-a" style="font-size: 15px;text-align: center;">用户登录</div>
    </div>
    <div class="layui-form-item">
        <input name="user" type="text" placeholder="手机号" lay-verify="required|mobile" value="123456" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="password" type="password" placeholder="密码" lay-verify="required" value="" class="layui-input"/>
    </div>
    <div class="layui-form-item">
    </div>
    <div class="layui-form-item">
        <p>&nbsp;还没有账号？<a href="{% url "register" %}" style="color: #314d77;">注册</a></p>
    </div>
    <div class="layui-form-item">
        <button class="pear-btn pear-btn-success login" lay-submit lay-filter="login">登录</button>
    </div>
</form>
{% endblock %}

{% block js %}
<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;


        form.on('submit(login)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.login'});


            $.ajax({
            url: "/login/",
            data: data.field,
            type: "post",
            success: function (result) {
                layer.close(loader);
                btn.stop(function () {
                    if (result.success) {
                        popup.success(result.msg, function () {
                            location.href='/index';
                        })
                    } else {
                        popup.failure(result.msg, function () {

                        });
                    }
                })
            }

        });

        });
    })
</script>
<script>
    if (window !== top) {
        top.location.href = location.href;
    }
</script>
{% endblock js %}