

{% extends "user/login_base.html" %}
{% load static %}

{% block title %}
<title>用户登录-CT图像识别与预测系统</title>
{% endblock  %}


{% block content %}
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item-title">
        <div style="margin-left: -35px;">
            <img class="logo" src="{% static "system/admin/images/logo.jpg" %}">
            <div class="title">CT图像识别与预测系统</div>
        </div>
        <div class="desc-a" style="font-size: 15px;text-align: center;">用户注册</div>
    </div>
    <div class="layui-form-item">
        <input name="user" type="text" placeholder="手机号" lay-verify="required|phone" value="" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="user_name" type="text" placeholder="姓名" lay-verify="required" value="" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="password" type="password" placeholder="密码" lay-verify="required" value="" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="re_pass" type="password" placeholder="确认密码" lay-verify="required" value="" class="layui-input"/>
    </div>
    <div class="layui-form-item">
    </div>
    <div class="layui-form-item">
        <p>&nbsp;已有账号？<a href="{% url "login" %}" style="color: #5FB878;">登录</a></p>
    </div>
    <div class="layui-form-item">
        <button class="pear-btn pear-btn-success login" lay-submit lay-filter="register">注册</button>
    </div>
</form>
{% endblock %}

{% block js %}
<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;


        form.on('submit(register)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.register'});

            if(data.field.password !== data.field.re_pass){
                layer.msg("两次密码不一致", {icon:2,time:1000});
                layer.close(loader);
                return false;
            }

            $.ajax({
            url: "/register/",
            data: data.field,
            type: "post",
            success: function (result) {
                layer.close(loader);
                btn.stop(function () {
                    if (result.success) {
                        popup.success(result.msg, function () {
                            location.href="/login/";
                        })
                    } else {
                        popup.failure(result.msg, function () {
                        });
                    }
                })
            }
        });

        });
    })
</script>
<script>
    if (window !== top) {
        top.location.href = location.href;
    }
</script>
{% endblock %}
