{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Product</title>
</head>
<body>
    <h1>Create Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form|crispy }}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="form-group">
                {{ form|crispy }}
                <button type="button" class="remove-form">Remove</button>
            </div>
        {% endfor %}
        <button type="button" class="add-form">Add another flower material</button>
        <button type="submit">Save</button>
    </form>

    <script>
        // JavaScript to dynamically add/remove forms
        document.querySelector('.add-form').addEventListener('click', function() {
            var newForm = document.querySelector('.form-group:last-of-type').cloneNode(true);
            document.querySelector('form').insertBefore(newForm, this);
        });

        document.querySelectorAll('.remove-form').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.form-group').remove();
            });
        });
    </script>
</body>
</html>
