{% extends 'base.html' %}

{% block title %}编辑花材{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">编辑花材信息</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a href="{% url 'flower_material_detail' material.model %}" class="btn btn-secondary">取消</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 1rem;">
                <div class="card">
                    <div class="card-header">
                        花材列表
                    </div>
                    <div class="card-body" style="max-height: 500px; overflow-y: auto;">
                        <input type="text" class="form-control mb-2" id="searchFlower" placeholder="搜索花材">
                        <ul class="list-group list-group-flush" id="flowerList">
                            {% for flower in flower_materials %}
                                <li class="list-group-item">
                                    <a href="{% url 'flower_material_detail' flower.model %}">{{ flower.chinese_name }} ({{ flower.model }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('searchFlower').addEventListener('keyup', function() {
        var searchValue = this.value.toLowerCase();
        var flowerItems = document.getElementById('flowerList').getElementsByTagName('li');

        for (var i = 0; i < flowerItems.length; i++) {
            var flowerText = flowerItems[i].getElementsByTagName('a')[0].innerText.toLowerCase();
            if (flowerText.indexOf(searchValue) > -1) {
                flowerItems[i].style.display = '';
            } else {
                flowerItems[i].style.display = 'none';
            }
        }
    });
</script>
{% endblock %}
