<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - SummerFlora{% endblock %}

{% block content %}
<main id="main" class="main">
  <div class="container text-center"> <!-- 使用 Bootstrap 的 text-center 类来实现内容居中 -->
    <h1 style="font-size: 55px; margin-bottom: 30px;">Welcome Back</h1> <!-- 调整字号并增加底部边距 -->
    <h1 style="font-size: 48px; margin-bottom: 30px;">- SummerFlora -</h1> <!-- 调整字号并增加更大的底部边距 -->
    <h1 style="font-size: 48px; margin-bottom: 30px;">HomePage</h1> <!-- 调整字号并增加更大的底部边距 -->
  

  </div>
</main>

{% endblock %}
